@import './styles/mixins.scss';
@import './styles/vars.scss';

.hud {
   width: 100vw;
   height: 100vh;
   background: url('./assets/bg.jpg') no-repeat;
   background-size: 100% 100%;
   padding: 50px;
}

.control {
   position: fixed;
   left: 50%;
   top: 22px;
   transform: translateX(-50%);
}

.stats {
   position: fixed;
   right: 50px;
   top: 50px;
}
